.Container{
    align-items: center;
    margin-top: 37px ;
    justify-content: center;
    padding: 20px;
}

.Container-heading{
    text-align: center;
}

.Search-text-field{
    background-color: #fff;
}
.search-btn{
    padding: 10px;
}
.search-btn:hover {
    color: #FF2625 !important;
    border: 1px solid #FF2625 !important;
  }